/* Rototo Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
  

html {
  height: 100%;
}
  
body {
  font-family: 'Roboto', sans-serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  padding: 20px;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 26px;
  padding: 30px 0;
}

.main-container {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 48%, rgba(255,255,255,1) 100%);
  border-radius: 20px;
  height: 100%;
  box-shadow: 3px 3px 12px #424242;
  position: relative;
  max-width: 800px;
  min-height: 650px;
  margin: auto;
}

.open-modal {
  padding: 5px;
  margin: 0 20px;
  text-align: left;
  cursor: pointer;
}

.current {
  width: min-content;
  display: flex;
  margin: 10px auto;
  padding: 0;
  height: 144px;
}

.chord {
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(127, 98, 255), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.current .chord {
  font-size: 120px;
}

.chord .flat-sharp {
  font-size: 70%;
  vertical-align: top;
  /* margin-left: -15px; */
 }

.next {
  display: flex;
  align-items: center;
  height: 58px;
  margin-left: 40%;
}

.next .label{
  font-size: 22px;
  padding-right: 10px;
}

.next .chord {
  font-size: 3rem;
}

.footer {
  background-color: #cbe3ff;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  text-align: center;
  font-size: 15px;
  color: #727272;
  padding-top: 40px;

}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  box-shadow: 3px 3px 12px #424242;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 70%;
  transition: 200ms ease-in;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header button {
  cursor: pointer;
}

.modal-header .title {
  font-size: 20px;
}

.modal-header .close-modal {
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background:none;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

.modal-body .setting {
  margin-bottom: 10px;
}

.modal-body .setting-title {
  margin-bottom: 10px;
  display: block;
}

.modal-body .setting label {
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  pointer-events: all;
  opacity: 1;
  transition: 200ms ease-in;
}

.hidden {
  display: none;
}

#slider-collection {
  width: 100%;
}

.start-stop-btn {
width: 130px;
margin: auto;
margin-top: 65px;
border: black 1px solid;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
font-size: 24px;
background-color: white;
cursor: pointer;
}

.start-stop-btn:hover {
  background-color: #cbe3ff;
}

