/*                */
/*  Global Reset  */
/*                */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}



/*        */
/*  Main  */
/*        */

/* Rototo Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {height: 100%;}
  
body {
  font-family: 'Roboto', sans-serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  padding: 20px;
  height: 100%;
}

.main-container {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 48%, rgba(255,255,255,1) 100%);
  border-radius: 20px;
  height: 100%;
  box-shadow: 3px 3px 12px #424242;
  position: relative;
  max-width: 800px;
  min-height: 640px;
  margin: auto;
}



/*          */
/*  Header  */
/*          */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 26px;
  background: -webkit-linear-gradient(rgb(127, 98, 255), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.open-modal {
  font-size: 12pt;
  padding: 10px;
  margin: 0;
  text-align: left;
  cursor: pointer;
  background-color: white;
  border: black 1px solid;
  border-radius: 10px;
}



/*          */
/*  Chords  */
/*          */

.chord-container {
  font-size: 120px;
  margin: 10px 10px 25px 10px;
}

.current {
  display: flex;
  justify-content: center;
  margin: 0 auto 10px auto;
}
.next {
  display: flex;
  margin-left: 40%;
  height: 60px;
  width: min-content;
}

.note, .flat-sharp, .type {
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(127, 98, 255), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.next .label{
  font-size: 22px;
  padding-right: 10px;
  
}

.current .note, .current .type {font-size: 100%;}
.current .flat-sharp           {font-size: 70%;}
.next .note, .next .type       {font-size: 50%;}
.next .flat-sharp              {font-size: 30%;}



/*         */
/*  Modal  */
/*         */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 3px 3px 12px #424242;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 75%;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header button {
  cursor: pointer;
}

.modal-header .title {
  font-size: 20px;
  color: rgb(64, 15, 155);
}

.modal-header .close-modal {
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background:none;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

.modal-body .setting {
  margin-bottom: 10px;
}

.modal-body .setting-title {
  margin-bottom: 10px;
  display: block;
  color: rgb(64, 15, 155);
}

.modal-body .setting label {
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  pointer-events: all;
  opacity: 1;
  transition: 200ms ease-in;
}

.hidden {
  display: none;
}

.setting .slider {width: 100%;}



/*             */
/*  Metronome  */
/*             */

.metronome {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  height: 15px;
}

.beat {
  width: 15px;
  height: 15px;
  background-color: rgb(213, 213, 213);
  border-radius: 20px;
  margin: 5px;
  border: solid 1px rgb(71, 71, 71);
}

.tint {
  background-color: rgb(142, 117, 255);
}



/*              */
/*  Start/Stop  */
/*              */

.start-stop-btn {
width: 130px;
margin: auto;
margin-top: 45px;
border: black 1px solid;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
font-size: 24px;
background-color: white;
cursor: pointer;
}

.start-stop-btn:hover {background-color: #cbe3ff;}



/*          */
/*  Footer  */
/*          */

.footer {
  background-color: #cbe3ff;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  text-align: center;
  font-size: 15px;
  color: #727272;
  padding-top: 40px;
}